/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#logo h1{
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px grey;
    color: #FE5457;

}


#logo p{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

*{
    font-family: sans-serif;
}


#flash_notices{
    width: auto;
    height: 50px;
    overflow: hidden;
}

#debug_hide{
    margin-left: 500px;
}

#background{
    width: 100%;
    min-height: 1200px;
    padding: 3px 0px 10px 0px;
    background: white;
}

#container{
    background: white;
    width: 996px;
    min-height: 1200px;
    margin-left: auto;
    margin-right: auto;
    opacity:1.0;
}

#header{
    width: 100%;
    height: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgba(1, 1, 1, 0.8);
    color: rgba(1, 1, 1, 0.8);
    margin-bottom: 30px;

}


#user_nav{
    float: right;
    margin-right: 30px;
    color: white;
    font-weight: bold;
}

#user_nav >a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

#nav_links_div{
    float: left;
    margin-left: 10px;
}

.nav_link{
    font-size: 12pt;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-weight: bold;
}

#content{
    width: 100%;
}