// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dash_left{
    float:left;
    width: 28%;
    margin-right: 10px;
    overflow:hidden;

}

#dash_right{
    float:left;
    width: 70%;
    height: 900px;
    overflow: hidden;
}

.dash_rank_items{
    margin-left: -4px;
}


.dash_rank_div{
    margin-bottom: 10px;
    float: left;
    width: 92%;
    height: 420px;
    padding: 5pt;
    overflow:hidden;
}



.dash_comic_image{
    width: 120px;
    height: auto;
    float: left;

}

.dash_comic_image:hover{
    box-shadow: 3px 3px 4px 0px black;
}

.dash_comedian_link{
    width: 120px;
    height: 67px;
    overflow: hidden;
    text-decoration: none;
    font-size: 20pt;
    float: left;
    margin: 4px;
    border-radius: 4px;

}

.dash_comedian_link>a{
    text-decoration: none;
    color: black;
}



.dash_comics_header{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: black;
    margin-bottom: 15px;
    background: white;
    height: 35px;
    padding-top: 5px;
    float: left;
}

#dash_recent_comics_header{
    font-size: 28px;
}


#dash_random_video_info{
    margin-top: 10px;
}

#dash_now_playing_text{
    font-size: 30pt;
    font-weight: bold;
    float: left;
    width: 100%;
    padding-top: 3px;
    margin-top: 7px;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: black;
    position: relative;
}

#dash_video_player_wrapper{
    float:right;
    position: relative;
}

#dash_random_video_div{
    float: right;
}

#dash_random_comedian_link{
    text-decoration: none;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: #63B2FD;
}

#dash_random_comedian_link:hover{
    color: #B3D5FF;
}

#dash_next_video_div{
    float: right;
    height: 50px;
    width: 250px;
    margin-top: 20px;
    margin-right: -80px;
}


#dash_next_video_button{
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 35px;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: black;
    background: #FE5457;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px black;
}

#dash_next_video_button:active{
    background: #991014;
    box-shadow: 1px 2px 3px 2px white;
}

#dash_above_video{
    float: left;
    width: 100%;
    max-height: 140px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 4px;
    position: relative;
}

#dash_below_video{
    width: 600px;
    float: left;
    margin-bottom: 20px;
}

#dash_comments{
    width: 400px;
    overflow-x:hidden;
}

.comments_header_div{
    font-size: 40px;
    font-weight: bold;
    width: 300px;
    padding: 14px;
    float:left;
    margin-bottom: 5px;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: black;


}

.dash_comments_div{
    float: left;
    margin-left: 20px;
    height: 200px;
    overflow: auto;
}

#dash_comment_item{
    width: 100%;
    overflow-x:hidden;
    background: white;
    margin-bottom: 10px;
}

#dash_comment_description{
    font-size: 16px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

#dash_comment_name{
    font-size: 22px;
    float: left;
    width:100%;
    font-weight: bold;
}

#dash_comment_date{
    float: left;
    font-size: 10pt;
    width: 100%;
}

#dash_video_title{
    font-size: 20pt;
    font-family: 'Fugaz One', cursive;
   -webkit-text-stroke: 1px black;
    color: #63B2FD;
}


